@CHARSET "ISO-8859-1";


@font-face {
    font-family: DaxlinePro-regular;
    src: url('font-daxline/font/DaxlinePro-Regular.otf');
}

@font-face {
    font-family: FontAwesome;
    src: url('font-awesome/fonts/fontawesome-webfont.ttf');
}

#btnAdiciona {
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-background-size: 16 16;     
}

#btnApaga {
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-background-size: 16 16;
}

#btnEdita{
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-background-size: 16 16;
}

#editJSBiblioteca, #editJSEstilo {
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-background-size: 16 16;      
}

#uploadBiblioteca, #uploadEstilo {
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-background-size: 16 16;
}

#btnGerencia {
    -fx-background-position: center center ;
    -fx-background-repeat: stretch;
    -fx-background-size: 16 16;
}

#scrollPane {
    -fx-background-color:transparent;
}

/*
   Definições de cores e fontes dos componentes
*/


.label {
    -fx-font-family: 'Arial';
    -fx-font-size: 13px;
    -fx-text-fill: rgb(210, 210, 210);
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: rgb(123, 123, 123);
}

.button:hover {
    -fx-background-color: linear-gradient(#ada99d, #d1ccc0);
}

.button:focused {
    -fx-color: -fx-focused-base;
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius:  6.4, 5, 4, 3;
    -fx-background-color: rgb(123, 123, 123);
}

.text-area {
    -fx-background-color: rgb(123, 123, 123);
    -fx-border-width: 0px;
    -fx-font-family: 'Arial';
    -fx-font-size: 13px;
    -fx-text-fill: rgb(255, 255, 255);  
}

.text-area:focused {
    -fx-background-color: rgb(123, 123, 123);
    -fx-border-color: black lightgray lightgray balck;
    -fx-border-width: 2px;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius:  6.4, 5, 4, 3;   
}

.text-area:hover {
    -fx-background-color: linear-gradient(#ada99d, #d1ccc0);
}

.combo-box {
    -fx-background-color: rgb(123, 123, 123);
    -fx-border-width: 0px;
    -fx-border-color: black lightgray lightgray balck;
    -fx-border-width: 2px;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius:  6.4, 5, 4, 3;
}

.combo-box .list-cell{
    -fx-background-color: rgb(123, 123, 123);
    -fx-border-width: 0px;
    -fx-font-family: 'Arial';
    -fx-font-size: 12px;
    -fx-text-fill: rgb(230, 230, 230);  
}

.combo-box-popup .list-view {
    -fx-background-color: rgb(102, 102, 102);
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.combo-box:focused {
    -fx-background-color: rgb(123, 123, 123);
    -fx-border-color: black lightgray lightgray balck;
    -fx-border-width: 2px;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius:  6.4, 5, 4, 3;
}

.combo-box:hover {
    -fx-background-color: linear-gradient(#ada99d, #d1ccc0);
    -fx-border-color: black lightgray lightgray balck;
    -fx-border-width: 2px;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius:  6.4, 5, 4, 3;
}

.combo-box .list-cell:hover {
    -fx-background-color: linear-gradient(#ada99d, #d1ccc0);
}


/*
.combo-box-popup .list-view .list-cell {
    -fx-padding: 4 0 4 5;
    -fx-background-color: white;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: white;
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-base {
    -fx-skin: "com.sun.javafx.scene.control.skin.ComboBoxBaseSkin";
    -fx-background-color: white, white, white, white;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}
.combo-box-base:hover {
    -fx-color: -fx-hover-base;
}

.combo-box-base:showing {
    -fx-color: -fx-pressed-base;
}

.combo-box-base:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled { 
    -fx-opacity: .4;
}

*/


.check-box *.box:hover {
    -fx-background-color: linear-gradient(#ada99d, #d1ccc0);
}

.check-box *.box {
    -fx-background-color: rgb(123, 123, 123);
}

.check-box {
    -fx-font-family: 'Arial';
    -fx-font-size: 12px;
    -fx-text-fill: rgb(210, 210, 210);
}

.color-picker {
    -fx-background-color: rgb(123, 123, 123);
    -fx-border-width: 0px;
}

.color-picker:focused {
    -fx-background-color: rgb(123, 123, 123);
    -fx-border-color: black lightgray lightgray balck;
    -fx-border-width: 2px;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius:  6.4, 5, 4, 3;
}

.color-picker:hover {
    -fx-background-color: linear-gradient(#ada99d, #d1ccc0);
}


.text-field {
    -fx-background-color: rgb(123, 123, 123);
    -fx-border-width: 0px;
    -fx-font-family: 'Arial';
    -fx-font-size: 13px;
    -fx-text-fill: rgb(255, 255, 255);
}

.text-field:focused {
    -fx-background-color: rgb(123, 123, 123);
    -fx-border-color: black lightgray lightgray balck;
    -fx-border-width: 2px;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius:  6.4, 5, 4, 3;
}

.text-field:hover {
    -fx-background-color: linear-gradient(#ada99d, #d1ccc0);
}


.table-view {
    -fx-base: rgb(123, 123, 123); 
    -fx-control-inner-background: rgb(123, 123, 123); 
    -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
    -fx-background-color: rgb(76, 76,76);
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 2;
}

.table-view .column-header {
    -fx-font-family: 'Arial';
    -fx-font-size: 13px;
    -fx-text-fill: rgb(210, 210, 210);  
}

.table-view .table-cell {
    -fx-font-family: 'Arial';
    -fx-font-size: 12.5px;
    -fx-text-fill: rgb(210, 210, 210);  
}

/* Selected row */
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: rgb(163, 163, 163);
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: rgb(255, 255, 255);
}

/* Selected row when table not focused */
.table-row-cell:filled:focused:selected {
    -fx-background-color: rgb(163, 163, 163);
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: rgb(255, 255, 255);
}

/* Row hovered */
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: rgb(98, 98, 98);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-text-fill: -fx-text-inner-color;
}


/* Selected row hovered */
.table-view:focused .table-row-cell:filled:focused:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: rgb(98, 98, 98);
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-selection-bar-text;
}

/* Selected row hovered when table not focused */
.table-view:row-selection .table-row-cell:filled:focused:hover {
    -fx-background-color: rgb(98, 98, 98);
    -fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 2 3 2, 3 3 4 3;
    -fx-text-fill: -fx-text-inner-color;
}
